<%= render :partial=>"userprof/logio" -%>
<% if @c %>
<%= link_to "Administration", :controller=>"menu",:action=>"show" -%>
<%end-%>
<div>
<div id="nav">
 <%=render :partial => 'hmenu'-%>
</div>
<div id="main">
<p>Find me in app/views/main/view.html.erb</p>
 <%=show_calendar Date.today,{:controller=>"clndr",:action=>"show",:vd=>"18-01-2001"} -%>
</div>
</div>
