<%controller.controller_name %> 
<!-- Пример -->
<% if logged_in? -%>
<p>List of  program</p>
<!-- еще -->
<%= render :partial=>"grplst"-%>
<%- else -%>
  report_error("Unauthorized access; password required")
<%- end -%>
