<h1>Editing programs</h1>

<% form_for(@programs) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @programs %> |
<%= link_to 'Back', programs_path %>