@import url("clndr.css "); 

body{margin:0;background: none repeat scroll 0 0 #FFFFFF;}

#header {
width: 800px;
text-align:center;
margin: 0,auto;
}
#after_header {
width: 800px;
height:50px;
text-align:center;
margin: 0,auto;
}

.sysmnu{
Width: 100px;
Height: 28px;
background-color: #f0f0f0;
padding:5px 0 0px 0;
text-align:center;
float : left;
border-radius: 6px 6px 0 0;
-moz-border-radius:6px 6px 0 0 ;
-khtml-border-radius:6px 6px  0 0 ;
}
.notice{
width:700px;
Height: 15px;
}
.notice_error{
width:700px;
Height: 15px;
color:red;
}

.spc
{width:10px;
 height:24px;
 padding-right: 15px;
  float: left;
}

.menu 
{padding:0;
 float: left;
}

#wrap {
min-height: 800px;
height: auto ;
height: 800px;
width:800px;
margin: 0, auto;
}


#nav {
 width:800px;
 float:left;
}

.anav {
 width:800px;
 heigth: 20px;
 float:right;
 /*-  -background-color: #fff;*/
}

#radio {
float:right;
width:550px;
height:80px;
}

#footer {
height:20px;
text-align:center;
min-width:1000px;
clear:both}

#footer p {
padding:30px;
margin:0;
}

#lsider {
float:left;
#BORDER: #f0f0f0 solid 1px; 
text-align:center;
#z-index:100;
width:200px;
#height:470px;
valign:top;}

#main {
 text-align:center;
 float:left;
 width:500px;
}

#mainf {
 margin: 0,auto;
 text-align:center;
 width:1280px;
}

.but {
 background: #f0f0f0;width: 70px;
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 0px;}

body, p, ol, ul, td,div {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a.img_lnk:hover { background-color:#B7C2B3;color: #333;  }
a.img_lnk:link { background-color:#B7C2B3;color: #333;  }
a.img_lnk:visited  {background-color:#B7C2B3; color: #333;}

a.img_bg:hover {background-color:#000000;color: red;  }
a.img_bg:link { background-color:#000000;color: red;  }
a.img_bg:visited  {background-color:#000000; color: #333;}

a.lnk:hover { color: #FFF; background-color:#000; }

a { color: #FFF;background-color:#E3DDCF }

a:visited { color: #666; }
a:link { color: #666; }
a:hover { color: #666; }


a:hover { color: #FFF; background-color:#000; }

a.buts:hover { color: #FFF; background-color:#FFF; }

.fieldWithErrors {
  padding: 1px solid red;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

 .pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: black;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #FFF;
    background-color: #9c9;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #9c9;
    font-weight: bold;
    background-color: #9c9;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    color: White;
  }

