body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.clndr {
  font-size: 13px;
  width: 190px;
  height: 162px;
  margin:0;
  padding:0;
  BORDER: black solid 1px; 
}
.clndrd {
  width: 25px;
  height: 25px;
  float:left;
  BORDER: buttonface solid 1px; 
  text-align: center;
}
.clndrd7 {
  width: 25px;
  height: 25px;
  background-color: #f0f0f0;
  float:left;
  BORDER: buttonface solid 1px; 
  text-align: center;
}
.clndrcr {
  color: #666;
  width: 25px;
  height: 25px;
  background-color: #9c9;
  float:left;
  BORDER: buttonface solid 1px; 
  text-align: center;
}
.clndrh {
  width: 25px;
  height: 25px;
  float:left;
  color : #666;
  BORDER: #f0f0f0 solid 1px; 
  text-align: center;
  background-color:#f0f0f0;
}

a.clndr_a:hover { background-color:#9c9;
color: #666;  }
a.clndr_a {color: #666;  }


a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

