#header {
width: 750px;
text-align:center;
margin: 0,auto;
}
#after_header {
width: 750px;
height:50px;
text-align:center;
margin: 0,auto;
}

.sysmnu{
Width: 100px;
Height: 28px;
background-color: #f0f0f0;;
padding:5px 0 0px 0;
text-align:center;
float : left;
border-radius: 6px 6px 0 0;
-moz-border-radius:6px 6px 0 0 ;
-khtml-border-radius:6px 6px  0 0 ;
}

/*.sysmnu:before{display: block;
       height: 20px;
       background: url(2_tr.gif) no-repeat 100% 0;
       content: url(2_tl.gif);
       margin: -20px -20px 0 -20px;}*/


.spc
{width:100;
 height:24px;
 padding-right: 15px;
  float: left;
}

.menu 
{padding:0;
 float: left;
}

.MAIN {
display:inline;
padding-right: 15px;
padding-left: 15px;
line-height: 10px;
text-decoration:none; # removes underline from text. 
float:left; # keeps the list horizontal. 
}

.MAIN a {
text-decoration:none; # removes underline from text. 
}

.MAIN a:hover {
background-color:buttonface;
color: #666;
} 


#wrap {
min-height: 750px;
height: auto ;
height: 750px;
width:750px;
margin: 0, auto;
}


body { background-color: #fff; color: #333;min-width:750px; }

#nav {
 width:750px;
 float:left;
}

.anav {
 width:750px;
 heigth: 20px;
 float:right;
 /*-  -background-color: #fff;*/
}

#login {
float:right;
text-align:center;
width:200px;
/*height:10px;*/
}

#radio {
float:right;
width:550px;
height:80px;
}

#footer {
height:20px;
min-width:750px;
clear:both}

#footer p {
padding:30px;
margin:0;
}

#lsider {
float:left;
BORDER: #f0f0f0 solid 1px; 
text-align:center;
width:190px;
height:470px;
valign:top;}

#main {
 text-align:center;
 float:left;
 width:550px;
}

#mainf {
 text-align:center;
 width:750px;
}

.but {
 background: #f0f0f0;width: 70px;
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 0px;}

body, p, ol, ul, td,div {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.clndr {
  font-size: 13px;
  width: 189px;
  height: 162px;
  text-align:center;
  margin:0;
  padding:0;
  BORDER: black solid 1px;}

.clndre {
  font-size: 13px;
  width: 189px;
  height: 189px;
  padding:0;
  BORDER: black solid 1px; 
}
.clndrd {
  width: 25px;
  height: 25px;
  padding: 0px;
  BORDER: buttonface solid 1px; 
  text-align: center;
}
.clndrd7 {
  width: 25px;
  height: 25px;
  padding: 0px;
  background-color: #f0f0f0;
  BORDER: buttonface solid 1px; 
  text-align: center;
}
.clndrcr {
  color: #666;
  width: 23px;
  height: 23px;
  background-color: #9c9;
  BORDER: buttonface solid 1px; 
  text-align: center;
}
.clndrh {
  width: 25px;
  height: 25px;
  padding: 0px;
  color : #666;
  BORDER: #f0f0f0 solid 1px; 
  text-align: center;
  background-color:#f0f0f0;
}

a.clndr_a:visited  {color: red;}

a.clndr_a:link  {color: red;}

a.clndr_a:hover { background-color:#FFF;color: red;  }

a.img_lnk:hover { background-color:#FFF;color: red;  }

a { color: #666; }

a:visited { color: #666; }


a:hover { color: #FFF; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

