<script type="text/javascript" src="swfobject.js"></script>
<div id="energy2">Установите<a href = http://get.adobe.com/flashplayer/>Flash player</a>
</div>

<script type="text/javascript">
   var so = new SWFObject("energy2.swf", "pl1", "180", "75", "8");
   so.addParam("menu", "false");
   so.addParam("wmode", "transparent");
   so.addParam("allowScriptAccess", "sameDomain");
   so.addParam("FlashVars", "filename=./");
so.write("energy2");
</script>
