<p>
<div style="float:left;width:80px;color: blue;">
  <%=link_to "Новости",:controller=>"new",:action=>"edlist",:id=>nil-%>
</div>
</p>
<div style="float:left;width:750px">
<p><h4>Новая новость</h4></p>
</div>
<% if @c %>
 <%= render :partial=>"form",
            :locals=>{:vnew=>@vnew,:action=>"create",:id2=>nil }-%>
<% else %>
  report_error("Unauthorized access; password required")
<% end %>
