<h1>Clndr#show</h1>
<p>Find me in app/views/clndr/show.html.erb</p>
Test
<div>
<%="#{h(@end_of_date)}"-%>
<% @arr_cl.each do |clnd| -%>
     <div><div><%=clnd[0]-%><%=clnd[1]-%></div></div>
<%end-%>
</div>