<%= form_tag :controller => "userprof",:action => "login" %>
<table width="300">
<tr>
<td>
User name: <%= text_field "userprof", "username" , :size=>10  %>
</td></tr>
<tr><td>
Password : <%= password_field "userprof", "password", :size=>12 %></p>
</td></tr>
<tr><td>
<%= link_to "Registration", :controller => 'userprof',:action => 'signup' %>
<input type="Submit" value="Log in"/>
</td></tr>
</table>
</form>