<%= form_tag :controller => "userprof", :action => "signup2" %>
<p>First name: <%= text_field "customer", "first_name" %> </p>
<p>Last name: <%= text_field "customer", "last_name" %> </p>
<p>User name: <%= text_field "customer", "nick" %> </p>
<p>Password: <%= password_field "customer", "password" %> </p>
<p>Email address: <%= text_field "customer", "email" %> </p>
<p><input type="Submit" value="Sign up"/></p>
</form>
