<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<%=stylesheet_link_tag "scaffold.css "%>
<%= javascript_include_tag :defaults %>
<head>
<title><%= @page_title %></title>
<style type="text/css">
 <%= yield :stylesheets %>
</style>
</head>
<body BACKGROUND="/images/bgr.jpg">
<table width="100%" border="0">
<tr><td align="center">
<div style="width: 600px;text-align:center;margin: 0,auto;">
 <%=image_tag("header.jpg",:alt=>"")%>
</div>
<div id="header">
 <div class="anav"> 
   <%=render :partial=>"sessions/logio" -%>
   <div style="float:right;">
    <%=link_to "Домашняя страница", {:controller => 'main',:action => 'view'},:class=>"lnk"-%>
   </div>
 </div>
 <div style="width:750px;height:50px;border-bottom: 1px solid #f0f0f0;">
   <div id="smnnow" >
         <%=link_to "Сегодня",{:controller=>"menu",:action=>"show"}, :id=>"lsmnnow" -%>
   </div>
   <div class="spc">&nbsp;</div>
   <div id="smnarc">
         <%=link_to "Архив",{:controller=>"arcmnu",:action=>"show"}, :id=>"lsmnarc" -%>
    </div>
   <div class="spc">&nbsp;</div>
   <div id="smnsys">
         <%=link_to "Настройки",{:controller=>"sysmnu",:action=>"show"}, :id=>"lsmnsys" -%>
   </div>
  </div>
</div>
<div id="mainf"><%= @content_for_layout -%><div>
<div id="footer">
 <p>Copyright &copy; 2011, церковь "Живого Бога" г.Гусев</p>
</div>
</td></tr>
</table>
</body>
</html>
