<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<%=stylesheet_link_tag "scaffold"%>
<%= javascript_include_tag :defaults %>
<head>
<title><%= @page_title %> <%=@adm_menu_id%> </title>
</head>
<body>
<div id="header">Radio-test</div>
<div id="after_header">Radio-test</div>
<div id="header">
<%@adm_menu_id=session['chk_mnu_type']||1-%>
 <div class="anav"> <%= render :partial=>"userprof/logio" -%> </div>
 <div style="width:750px;height:50px;border-bottom: 1px solid #f0f0f0;">
   <div class="sysmnu"
        <% if @adm_menu_id==1 -%>
        style="background-color: #9c9;">Сегодня
        <%else-%>>
         <%=link_to "Сегодня",:controller=>"menu",:action=>"show" -%>
        <%end-%> </div>
   <div class="spc">&nbsp;</div>
   <div class="sysmnu"
       <% if @adm_menu_id==2 -%>
        style="background-color: #9c9;">Архив
       <%else-%>>
         <%=link_to "Архив",:controller=>"arcmnu",:action=>"show" -%>
        <%end-%> 
    </div>
   <div class="spc">&nbsp;</div>
   <div class="sysmnu" <% if @adm_menu_id==3 -%>
        style="background-color: #9c9;">Настройки
          <%else-%>>
         <%=link_to "Настройки",:controller=>"sysmnu",:action=>"show" -%>
        <%end-%>
   </div>
  </div>
</div>
<div id="mainf"><%= @content_for_layout -%><div>
<div id="footer">
 <p>Copyright &copy; 2011, Radio</p>
</div>
</body>
</html>
